In [3]:
import pandas
import pickle
import numpy as np
pandas.set_option('display.max_columns', None)
pandas.set_option('display.max_rows', None)

data_before_normalization = pandas.read_pickle('../data/data-before-normalization-output.pickle')
data_after_normalization = pandas.read_pickle('../data/data-after-normalization-output.pickle')
# data_before_normalization.head()
display(data_before_normalization.loc[0])
display(data_after_normalization.loc[0])

assessment_1_score                                 78.000000
assessment_2_score                                 85.000000
assessment_3_score                                 80.000000
assessment_4_score                                 85.000000
assessment_5_score                                 82.000000
assessment_6_score                                       NaN
assessment_7_score                                       NaN
average_score                                      82.400000
course_difficulty                                  68.432979
module_presentation_length                        268.000000
num_of_prev_attempts                                0.000000
studied_credits                                   240.000000
sum_clicks                                        934.000000
vle_click_month_1                                 419.000000
vle_click_month_2                                 110.000000
vle_click_month_3                                  58.000000
vle_click_month_4                                  41.000000
vle_click_month_5                                  82.000000
vle_click_month_6                                   3.000000
vle_click_month_7                                  35.000000
gender__F                                           0.000000
gender__M                                           1.000000
region__East Anglian Region                         1.000000
region__East Midlands Region                        0.000000
region__Ireland                                     0.000000
region__London Region                               0.000000
region__North Region                                0.000000
region__North Western Region                        0.000000
region__Scotland                                    0.000000
region__South East Region                           0.000000
region__South Region                                0.000000
region__South West Region                           0.000000
region__Wales                                       0.000000
region__West Midlands Region                        0.000000
region__Yorkshire Region                            0.000000
highest_education__A Level or Equivalent            0.000000
highest_education__HE Qualification                 1.000000
highest_education__Lower Than A Level               0.000000
highest_education__No Formal quals                  0.000000
highest_education__Post Graduate Qualification      0.000000
imd_band__0-10%                                     0.000000
imd_band__10-20                                     0.000000
imd_band__20-30%                                    0.000000
imd_band__30-40%                                    0.000000
imd_band__40-50%                                    0.000000
imd_band__50-60%                                    0.000000
imd_band__60-70%                                    0.000000
imd_band__70-80%                                    0.000000
imd_band__80-90%                                    0.000000
imd_band__90-100%                                   1.000000
imd_band__nan                                       0.000000
age_band__0-35                                      0.000000
age_band__35-55                                     0.000000
age_band__55<=                                      1.000000
disability__N                                       1.000000
disability__Y                                       0.000000
final_result__Distinction                           0.000000
final_result__Fail                                  0.000000
final_result__Pass                                  1.000000
final_result__Withdrawn                             0.000000
Name: 0, dtype: float64

assessment_1_score                                0.780000
assessment_2_score                                0.850000
assessment_3_score                                0.800000
assessment_4_score                                0.850000
assessment_5_score                                0.820000
assessment_6_score                                     NaN
assessment_7_score                                     NaN
average_score                                     0.824000
course_difficulty                                 0.385933
module_presentation_length                        0.971429
num_of_prev_attempts                              0.000000
studied_credits                                   0.350000
sum_clicks                                        0.038653
vle_click_month_1                                 0.052864
vle_click_month_2                                 0.015579
vle_click_month_3                                 0.012301
vle_click_month_4                                 0.007773
vle_click_month_5                                 0.015685
vle_click_month_6                                 0.000651
vle_click_month_7                                 0.009042
gender__F                                         0.000000
gender__M                                         1.000000
region__East Anglian Region                       1.000000
region__East Midlands Region                      0.000000
region__Ireland                                   0.000000
region__London Region                             0.000000
region__North Region                              0.000000
region__North Western Region                      0.000000
region__Scotland                                  0.000000
region__South East Region                         0.000000
region__South Region                              0.000000
region__South West Region                         0.000000
region__Wales                                     0.000000
region__West Midlands Region                      0.000000
region__Yorkshire Region                          0.000000
highest_education__A Level or Equivalent          0.000000
highest_education__HE Qualification               1.000000
highest_education__Lower Than A Level             0.000000
highest_education__No Formal quals                0.000000
highest_education__Post Graduate Qualification    0.000000
imd_band__0-10%                                   0.000000
imd_band__10-20                                   0.000000
imd_band__20-30%                                  0.000000
imd_band__30-40%                                  0.000000
imd_band__40-50%                                  0.000000
imd_band__50-60%                                  0.000000
imd_band__60-70%                                  0.000000
imd_band__70-80%                                  0.000000
imd_band__80-90%                                  0.000000
imd_band__90-100%                                 1.000000
imd_band__nan                                     0.000000
age_band__0-35                                    0.000000
age_band__35-55                                   0.000000
age_band__55<=                                    1.000000
disability__N                                     1.000000
disability__Y                                     0.000000
final_result__Distinction                         0.000000
final_result__Fail                                0.000000
final_result__Pass                                1.000000
final_result__Withdrawn                           0.000000
Name: 0, dtype: float64

In [6]:
data_before_normalization.describe(include='all').T

,assessment_1_score,assessment_2_score,assessment_3_score,assessment_4_score,assessment_5_score,assessment_6_score,assessment_7_score,average_score,course_difficulty,module_presentation_length,num_of_prev_attempts,studied_credits,sum_clicks,vle_click_month_1,vle_click_month_2,vle_click_month_3,vle_click_month_4,vle_click_month_5,vle_click_month_6,vle_click_month_7,gender__F,gender__M,region__East Anglian Region,region__East Midlands Region,region__Ireland,region__London Region,region__North Region,region__North Western Region,region__Scotland,region__South East Region,region__South Region,region__South West Region,region__Wales,region__West Midlands Region,region__Yorkshire Region,highest_education__A Level or Equivalent,highest_education__HE Qualification,highest_education__Lower Than A Level,highest_education__No Formal quals,highest_education__Post Graduate Qualification,imd_band__0-10%,imd_band__10-20,imd_band__20-30%,imd_band__30-40%,imd_band__40-50%,imd_band__50-60%,imd_band__60-70%,imd_band__70-80%,imd_band__80-90%,imd_band__90-100%,imd_band__nan,age_band__0-35,age_band__35-55,age_band__55<=,disability__N,disability__Y,final_result__Distinction,final_result__Fail,final_result__Pass,final_result__Withdrawn
count,25633.000000,23149.000000,21325.000000,19649.000000,16906.000000,14094.000000,13186.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000,25633.000000
mean,73.372489,73.254223,72.780868,73.969515,74.149355,78.206613,82.543834,70.302364,70.302364,256.151992,0.154644,76.711076,1527.282097,389.305934,213.727656,132.346702,148.035618,187.642960,147.689580,128.204424,0.449577,0.550423,0.102914,0.071275,0.040534,0.093551,0.055826,0.084266,0.109897,0.065502,0.097257,0.075918,0.067023,0.075801,0.060235,0.445090,0.154566,0.380681,0.008817,0.010845,0.093551,0.100612,0.106230,0.107674,0.099052,0.098584,0.092498,0.092186,0.087777,0.082979,0.038856,0.694651,0.298170,0.007178,0.906800,0.093200,0.117973,0.221589,0.480708,0.179729
std,20.943830,17.124498,17.652188,18.993590,19.498938,19.112644,18.622406,17.033758,5.342823,13.135384,0.465114,38.246192,1781.211218,446.169412,284.017333,202.821268,230.748459,270.784463,242.100506,223.332579,0.497461,0.497461,0.303853,0.257289,0.197211,0.291209,0.229591,0.277792,0.312768,0.247414,0.296314,0.264872,0.250067,0.264684,0.237926,0.496985,0.361498,0.485564,0.093485,0.103577,0.291209,0.300821,0.308138,0.309974,0.298738,0.298108,0.289733,0.289294,0.282977,0.275856,0.193256,0.460564,0.457464,0.084422,0.290718,0.290718,0.322582,0.415324,0.499637,0.383969
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,60.755244,234.000000,0.000000,30.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,65.000000,64.000000,63.000000,63.000000,63.000000,69.000000,73.000000,60.500000,65.722549,241.000000,0.000000,60.000000,394.000000,114.000000,44.000000,15.000000,12.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,77.000000,76.000000,75.000000,78.000000,78.000000,81.000000,87.000000,73.000000,70.885545,262.000000,0.000000,60.000000,910.000000,254.000000,124.000000,66.000000,64.000000,89.000000,58.000000,42.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,88.000000,86.000000,85.000000,88.000000,89.000000,93.000000,100.000000,82.925000,74.035197,268.000000,0.000000,90.000000,1997.000000,508.000000,270.000000,158.000000,183.000000,260.000000,182.000000,157.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,80.649205,269.000000,6.000000,630.000000,24139.000000,7926.000000,7061.000000,4715.000000,5275.000000,5228.000000,4605.000000,3871.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
def cut_dataset(data_set, data_set_name):
    data_7_out_7  = data_set.drop(['sum_clicks', 'average_score'], axis=1)
    data_6_out_7 = data_7_out_7.drop(['vle_click_month_7', 'assessment_7_score'], axis=1)
    data_5_out_7 = data_6_out_7.drop(['vle_click_month_6', 'assessment_6_score'], axis=1)
    data_4_out_7 = data_5_out_7.drop(['vle_click_month_5', 'assessment_5_score'], axis=1)
    data_3_out_7 = data_4_out_7.drop(['vle_click_month_4', 'assessment_4_score'], axis=1)
    data_2_out_7 = data_3_out_7.drop(['vle_click_month_3', 'assessment_3_score'], axis=1)
    data_1_out_7 = data_2_out_7.drop(['vle_click_month_2', 'assessment_2_score'], axis=1)

    def save_files(data, name):
        data.to_pickle(f'../data/splitted/data-{data_set_name}-{name}.pickle')
        data.to_csv(f'../data/splitted/data-{data_set_name}-{name}.csv')

    save_files(data_7_out_7, '7-out-of-7')
    save_files(data_6_out_7, '6-out-of-7')
    save_files(data_5_out_7, '5-out-of-7')
    save_files(data_4_out_7, '4-out-of-7')
    save_files(data_3_out_7, '3-out-of-7')
    save_files(data_2_out_7, '2-out-of-7')
    save_files(data_1_out_7, '1-out-of-7')

cut_dataset(data_before_normalization, 'before-normalization')
cut_dataset(data_after_normalization, 'after-normalization')

FileNotFoundError: [Errno 2] No such file or directory: '../data/splitted/data-before-normalization-7-out-of-7.pickle'