In [44]:
import pandas
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder, OrdinalEncoder
pandas.set_option('display.max_columns', None)
pandas.set_option('display.max_rows', None)

data_extension_output = pandas.read_pickle('../data/data-extension-output.pickle')
display(data_extension_output.head())
display(data_extension_output.loc[0])

,age_band,assessment_1_score,assessment_2_score,assessment_3_score,assessment_4_score,assessment_5_score,assessment_6_score,assessment_7_score,assessments_amount,average_score,code_module,code_presentation,course_difficulty,date_registration,date_unregistration,disability,final_result,gender,highest_education,id_student,imd_band,module_presentation_length,num_of_prev_attempts,region,studied_credits,sum_clicks,vle_click_month_1,vle_click_month_2,vle_click_month_3,vle_click_month_4,vle_click_month_5,vle_click_month_6,vle_click_month_7
0,55<=,78.0,85.0,80.0,85.0,82.0,NaN,NaN,5,82.4,AAA,2013J,68.432979,-159.0,NaN,N,Pass,M,HE Qualification,11391,90-100%,268,0,East Anglian Region,240,934,419,110,58,41,82,3,35
1,35-55,70.0,68.0,70.0,64.0,60.0,NaN,NaN,5,65.4,AAA,2013J,68.432979,-53.0,NaN,N,Pass,F,HE Qualification,28400,20-30%,268,0,Scotland,60,1435,618,51,148,79,111,114,208
2,35-55,72.0,71.0,74.0,88.0,75.0,NaN,NaN,5,76.3,AAA,2013J,68.432979,-52.0,NaN,N,Pass,F,A Level or Equivalent,31604,50-60%,268,0,South East Region,60,2158,503,301,184,269,202,257,149
3,0-35,69.0,30.0,63.0,35.0,75.0,NaN,NaN,5,55.0,AAA,2013J,68.432979,-176.0,NaN,N,Pass,F,Lower Than A Level,32885,50-60%,268,0,West Midlands Region,60,1034,567,35,81,64,78,13,75
4,35-55,79.0,69.0,74.0,50.0,68.0,NaN,NaN,5,66.9,AAA,2013J,68.432979,-110.0,NaN,N,Pass,M,A Level or Equivalent,38053,80-90%,268,0,Wales,60,2445,727,277,56,215,110,162,225

age_band                                     55<=
assessment_1_score                           78.0
assessment_2_score                           85.0
assessment_3_score                           80.0
assessment_4_score                           85.0
assessment_5_score                           82.0
assessment_6_score                            NaN
assessment_7_score                            NaN
assessments_amount                              5
average_score                                82.4
code_module                                   AAA
code_presentation                           2013J
course_difficulty                       68.432979
date_registration                          -159.0
date_unregistration                           NaN
disability                                      N
final_result                                 Pass
gender                                          M
highest_education                HE Qualification
id_student                                  11391
imd_band                                  90-100%
module_presentation_length                    268
num_of_prev_attempts                            0
region                        East Anglian Region
studied_credits                               240
sum_clicks                                    934
vle_click_month_1                             419
vle_click_month_2                             110
vle_click_month_3                              58
vle_click_month_4                              41
vle_click_month_5                              82
vle_click_month_6                               3
vle_click_month_7                              35
Name: 0, dtype: object

In [45]:
data_extension_output_cleaned =  data_extension_output.drop([
    'id_student', 
    'code_module', 
    'code_presentation', 
    'date_unregistration',
    'date_registration',
    'assessments_amount',
], axis=1)
display(data_extension_output_cleaned.head())
display(data_extension_output_cleaned.loc[0])

,age_band,assessment_1_score,assessment_2_score,assessment_3_score,assessment_4_score,assessment_5_score,assessment_6_score,assessment_7_score,average_score,course_difficulty,disability,final_result,gender,highest_education,imd_band,module_presentation_length,num_of_prev_attempts,region,studied_credits,sum_clicks,vle_click_month_1,vle_click_month_2,vle_click_month_3,vle_click_month_4,vle_click_month_5,vle_click_month_6,vle_click_month_7
0,55<=,78.0,85.0,80.0,85.0,82.0,NaN,NaN,82.4,68.432979,N,Pass,M,HE Qualification,90-100%,268,0,East Anglian Region,240,934,419,110,58,41,82,3,35
1,35-55,70.0,68.0,70.0,64.0,60.0,NaN,NaN,65.4,68.432979,N,Pass,F,HE Qualification,20-30%,268,0,Scotland,60,1435,618,51,148,79,111,114,208
2,35-55,72.0,71.0,74.0,88.0,75.0,NaN,NaN,76.3,68.432979,N,Pass,F,A Level or Equivalent,50-60%,268,0,South East Region,60,2158,503,301,184,269,202,257,149
3,0-35,69.0,30.0,63.0,35.0,75.0,NaN,NaN,55.0,68.432979,N,Pass,F,Lower Than A Level,50-60%,268,0,West Midlands Region,60,1034,567,35,81,64,78,13,75
4,35-55,79.0,69.0,74.0,50.0,68.0,NaN,NaN,66.9,68.432979,N,Pass,M,A Level or Equivalent,80-90%,268,0,Wales,60,2445,727,277,56,215,110,162,225

age_band                                     55<=
assessment_1_score                           78.0
assessment_2_score                           85.0
assessment_3_score                           80.0
assessment_4_score                           85.0
assessment_5_score                           82.0
assessment_6_score                            NaN
assessment_7_score                            NaN
average_score                                82.4
course_difficulty                       68.432979
disability                                      N
final_result                                 Pass
gender                                          M
highest_education                HE Qualification
imd_band                                  90-100%
module_presentation_length                    268
num_of_prev_attempts                            0
region                        East Anglian Region
studied_credits                               240
sum_clicks                                    934
vle_click_month_1                             419
vle_click_month_2                             110
vle_click_month_3                              58
vle_click_month_4                              41
vle_click_month_5                              82
vle_click_month_6                               3
vle_click_month_7                              35
Name: 0, dtype: object

In [46]:
data_extension_output_filtered = data_extension_output_cleaned[data_extension_output_cleaned['average_score'].notna()]
data_extension_output_filtered.head()

,age_band,assessment_1_score,assessment_2_score,assessment_3_score,assessment_4_score,assessment_5_score,assessment_6_score,assessment_7_score,average_score,course_difficulty,disability,final_result,gender,highest_education,imd_band,module_presentation_length,num_of_prev_attempts,region,studied_credits,sum_clicks,vle_click_month_1,vle_click_month_2,vle_click_month_3,vle_click_month_4,vle_click_month_5,vle_click_month_6,vle_click_month_7
0,55<=,78.0,85.0,80.0,85.0,82.0,NaN,NaN,82.4,68.432979,N,Pass,M,HE Qualification,90-100%,268,0,East Anglian Region,240,934,419,110,58,41,82,3,35
1,35-55,70.0,68.0,70.0,64.0,60.0,NaN,NaN,65.4,68.432979,N,Pass,F,HE Qualification,20-30%,268,0,Scotland,60,1435,618,51,148,79,111,114,208
2,35-55,72.0,71.0,74.0,88.0,75.0,NaN,NaN,76.3,68.432979,N,Pass,F,A Level or Equivalent,50-60%,268,0,South East Region,60,2158,503,301,184,269,202,257,149
3,0-35,69.0,30.0,63.0,35.0,75.0,NaN,NaN,55.0,68.432979,N,Pass,F,Lower Than A Level,50-60%,268,0,West Midlands Region,60,1034,567,35,81,64,78,13,75
4,35-55,79.0,69.0,74.0,50.0,68.0,NaN,NaN,66.9,68.432979,N,Pass,M,A Level or Equivalent,80-90%,268,0,Wales,60,2445,727,277,56,215,110,162,225

In [47]:
one_hot_encoder = OneHotEncoder(handle_unknown='ignore')

def normalize_categorical_column(data_frame: pandas.DataFrame, column_name: str) -> pandas.DataFrame:
    one_hot_encoder_trained = one_hot_encoder.fit(data_frame[column_name].values.reshape(-1, 1))
    data_column_normalized = one_hot_encoder_trained.transform(data_frame[column_name].values.reshape(-1, 1))
    categories = [f'{column_name}__{category}' for category in one_hot_encoder_trained.categories_[0]]
    # print(categories)
    # print(len(one_hot_encoder_trained.categories_))
    # print(len(data_column_normalized.toarray()[0]))
    data_frame[categories] = data_column_normalized.toarray()
    data_frame = data_frame.drop(column_name, axis=1)
    return data_frame

data_extension_normalized = normalize_categorical_column(data_extension_output_filtered, 'gender')
data_extension_normalized = normalize_categorical_column(data_extension_normalized, 'region')
data_extension_normalized = normalize_categorical_column(data_extension_normalized, 'highest_education')
data_extension_normalized = normalize_categorical_column(data_extension_normalized, 'imd_band')
data_extension_normalized = normalize_categorical_column(data_extension_normalized, 'age_band')
data_extension_normalized = normalize_categorical_column(data_extension_normalized, 'disability')
data_extension_normalized = normalize_categorical_column(data_extension_normalized, 'final_result')
data_extension_normalized.loc[0]

/Users/vincevannoort/.local/share/virtualenvs/early-warning-system-nnLHG7cG/lib/python3.8/site-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

assessment_1_score                                 78.000000
assessment_2_score                                 85.000000
assessment_3_score                                 80.000000
assessment_4_score                                 85.000000
assessment_5_score                                 82.000000
assessment_6_score                                       NaN
assessment_7_score                                       NaN
average_score                                      82.400000
course_difficulty                                  68.432979
module_presentation_length                        268.000000
num_of_prev_attempts                                0.000000
studied_credits                                   240.000000
sum_clicks                                        934.000000
vle_click_month_1                                 419.000000
vle_click_month_2                                 110.000000
vle_click_month_3                                  58.000000
vle_click_month_4                                  41.000000
vle_click_month_5                                  82.000000
vle_click_month_6                                   3.000000
vle_click_month_7                                  35.000000
gender__F                                           0.000000
gender__M                                           1.000000
region__East Anglian Region                         1.000000
region__East Midlands Region                        0.000000
region__Ireland                                     0.000000
region__London Region                               0.000000
region__North Region                                0.000000
region__North Western Region                        0.000000
region__Scotland                                    0.000000
region__South East Region                           0.000000
region__South Region                                0.000000
region__South West Region                           0.000000
region__Wales                                       0.000000
region__West Midlands Region                        0.000000
region__Yorkshire Region                            0.000000
highest_education__A Level or Equivalent            0.000000
highest_education__HE Qualification                 1.000000
highest_education__Lower Than A Level               0.000000
highest_education__No Formal quals                  0.000000
highest_education__Post Graduate Qualification      0.000000
imd_band__0-10%                                     0.000000
imd_band__10-20                                     0.000000
imd_band__20-30%                                    0.000000
imd_band__30-40%                                    0.000000
imd_band__40-50%                                    0.000000
imd_band__50-60%                                    0.000000
imd_band__60-70%                                    0.000000
imd_band__70-80%                                    0.000000
imd_band__80-90%                                    0.000000
imd_band__90-100%                                   1.000000
imd_band__nan                                       0.000000
age_band__0-35                                      0.000000
age_band__35-55                                     0.000000
age_band__55<=                                      1.000000
disability__N                                       1.000000
disability__Y                                       0.000000
final_result__Distinction                           0.000000
final_result__Fail                                  0.000000
final_result__Pass                                  1.000000
final_result__Withdrawn                             0.000000
Name: 0, dtype: float64

In [48]:
# save before normalizing numeric values
data_extension_normalized.to_pickle("../data/data-before-normalization-output.pickle")
data_extension_normalized.to_csv("../data/data-before-normalization-output.csv")

In [49]:

min_max_scaler = MinMaxScaler()

def normalize_number_column(data_frame: pandas.DataFrame, column_name: str) -> pandas.DataFrame:
    data_column_normalized = min_max_scaler.fit_transform(data_frame[column_name].values.reshape(-1, 1))
    data_frame[column_name] = data_column_normalized
    return data_frame

data_extension_normalized = normalize_number_column(data_extension_normalized, 'average_score')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'sum_clicks')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'module_presentation_length')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'studied_credits')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'num_of_prev_attempts')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'vle_click_month_1')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'vle_click_month_2')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'vle_click_month_3')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'vle_click_month_4')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'vle_click_month_5')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'vle_click_month_6')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'vle_click_month_7')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'assessment_1_score')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'assessment_2_score')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'assessment_3_score')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'assessment_4_score')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'assessment_5_score')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'assessment_6_score')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'assessment_7_score')
data_extension_normalized = normalize_number_column(data_extension_normalized, 'course_difficulty')

data_extension_normalized.loc[0]

assessment_1_score                                0.780000
assessment_2_score                                0.850000
assessment_3_score                                0.800000
assessment_4_score                                0.850000
assessment_5_score                                0.820000
assessment_6_score                                     NaN
assessment_7_score                                     NaN
average_score                                     0.824000
course_difficulty                                 0.385933
module_presentation_length                        0.971429
num_of_prev_attempts                              0.000000
studied_credits                                   0.350000
sum_clicks                                        0.038653
vle_click_month_1                                 0.052864
vle_click_month_2                                 0.015579
vle_click_month_3                                 0.012301
vle_click_month_4                                 0.007773
vle_click_month_5                                 0.015685
vle_click_month_6                                 0.000651
vle_click_month_7                                 0.009042
gender__F                                         0.000000
gender__M                                         1.000000
region__East Anglian Region                       1.000000
region__East Midlands Region                      0.000000
region__Ireland                                   0.000000
region__London Region                             0.000000
region__North Region                              0.000000
region__North Western Region                      0.000000
region__Scotland                                  0.000000
region__South East Region                         0.000000
region__South Region                              0.000000
region__South West Region                         0.000000
region__Wales                                     0.000000
region__West Midlands Region                      0.000000
region__Yorkshire Region                          0.000000
highest_education__A Level or Equivalent          0.000000
highest_education__HE Qualification               1.000000
highest_education__Lower Than A Level             0.000000
highest_education__No Formal quals                0.000000
highest_education__Post Graduate Qualification    0.000000
imd_band__0-10%                                   0.000000
imd_band__10-20                                   0.000000
imd_band__20-30%                                  0.000000
imd_band__30-40%                                  0.000000
imd_band__40-50%                                  0.000000
imd_band__50-60%                                  0.000000
imd_band__60-70%                                  0.000000
imd_band__70-80%                                  0.000000
imd_band__80-90%                                  0.000000
imd_band__90-100%                                 1.000000
imd_band__nan                                     0.000000
age_band__0-35                                    0.000000
age_band__35-55                                   0.000000
age_band__55<=                                    1.000000
disability__N                                     1.000000
disability__Y                                     0.000000
final_result__Distinction                         0.000000
final_result__Fail                                0.000000
final_result__Pass                                1.000000
final_result__Withdrawn                           0.000000
Name: 0, dtype: float64

In [50]:
# save after normalizing numeric values
data_extension_normalized.to_pickle("../data/data-after-normalization-output.pickle")
data_extension_normalized.to_csv("../data/data-after-normalization-output.csv")