In [2]:
import pandas
import pickle

merged_data = pandas.read_pickle('../data/merged_data.pickle')
merged_data.head()

,code_module,code_presentation,id_student,assessments,vles,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,date_registration,date_unregistration,module_presentation_length
0,AAA,2013J,11391,"[[1752, 18, 78.0, TMA, 19.0, 10.0], [1753, 53,...","[[546614, -5, homepage, 7], [546614, 0, homepa...",M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,-159.0,NaN,268
1,AAA,2013J,28400,"[[1752, 22, 70.0, TMA, 19.0, 10.0], [1753, 52,...","[[546614, -10, homepage, 11], [546614, -8, hom...",F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass,-53.0,NaN,268
2,AAA,2013J,31604,"[[1752, 17, 72.0, TMA, 19.0, 10.0], [1753, 51,...","[[546614, -10, homepage, 11], [546614, -9, hom...",F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass,-52.0,NaN,268
3,AAA,2013J,32885,"[[1752, 26, 69.0, TMA, 19.0, 10.0], [1753, 75,...","[[546614, -10, homepage, 13], [546614, -9, hom...",F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass,-176.0,NaN,268
4,AAA,2013J,38053,"[[1752, 19, 79.0, TMA, 19.0, 10.0], [1753, 64,...","[[546614, -10, homepage, 13], [546614, -9, hom...",M,Wales,A Level or Equivalent,80-90%,35-55,0,60,N,Pass,-110.0,NaN,268

In [3]:
# vince
merged_data.groupby(['id_student']).groups

{6516: [365], 8462: [11231, 13677], 11391: [0], 23629: [705], 23698: [8174], 23798: [2073], 24186: [24500], 24213: [12734], 24391: [23684], 24734: [366], 25107: [706], 25150: [15928], 25261: [8175], 25572: [13678], 25997: [3770], 26023: [23685], 26192: [367], 26211: [20641], 26247: [18768], 26315: [4970], 26734: [4971], 27116: [8176], 27189: [20642], 27417: [11232, 13679], 27683: [20643], 27759: [2074], 27780: [15929], 27891: [707, 3771], 27935: [11233], 28046: [11234], 28061: [368], 28400: [1], 28418: [6759], 28787: [8177], 28808: [20644], 28897: [20645], 28952: [8178], 29144: [708], 29335: [18769], 29411: [8179, 11235], 29420: [8180], 29639: [8181, 15930], 29764: [6760], 29769: [18770], 29820: [6761, 15931], 29985: [24501], 30091: [2075], 30096: [8182], 30531: [20646], 30549: [11236], 30850: [8183], 31014: [2076], 31107: [24502], 31161: [8184], 31173: [11237], 31205: [25189], 31269: [12735], 31296: [21847], 31600: [369], 31604: [2], 31663: [709], 31849: [2077], 32221: [18771], 32239: [23686], 32327: [4972], 32885: [3], 32930: [4973], 33387: [11238], 33600: [18772], 33666: [710], 33681: [11239, 13680], 33796: [13681], 33897: [11240], 33915: [17397], 33930: [11241], 34068: [8185], 34087: [11242, 13682], 34229: [711], 34293: [20647], 34353: [712], 34431: [713], 34653: [11243], 34662: [4974], 34731: [18773], 34756: [714], 34863: [715], 35001: [23687], 35340: [15932], 35355: [8186, 15101], 35502: [12736], 35508: [8187, 15933], 35544: [17398], 35747: [21848], 35796: [21849], 35812: [716], 35860: [17399], 36347: [20648], 36385: [17400], 37298: [17401], 37622: [2078], ...}

In [8]:
# jort
# sum of all clicks

def sum_clicks_vles(vles):
    sum_clicks = 0
    for [id_site, date, activity_type, sum_click] in vles:
        sum_clicks += sum_click
    return sum_clicks

merged_data["sum_clicks"] = merged_data["vles"].transform(sum_clicks_vles)
merged_data.head()

,code_module,code_presentation,id_student,assessments,vles,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,date_registration,date_unregistration,module_presentation_length,sum_clicks,course_sum_clicks
0,AAA,2013J,11391,"[[1752, 18, 78.0, TMA, 19.0, 10.0], [1753, 53,...","[[546614, -5, homepage, 7], [546614, 0, homepa...",M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,-159.0,NaN,268,934,934
1,AAA,2013J,28400,"[[1752, 22, 70.0, TMA, 19.0, 10.0], [1753, 52,...","[[546614, -10, homepage, 11], [546614, -8, hom...",F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass,-53.0,NaN,268,1435,1435
2,AAA,2013J,31604,"[[1752, 17, 72.0, TMA, 19.0, 10.0], [1753, 51,...","[[546614, -10, homepage, 11], [546614, -9, hom...",F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass,-52.0,NaN,268,2158,2158
3,AAA,2013J,32885,"[[1752, 26, 69.0, TMA, 19.0, 10.0], [1753, 75,...","[[546614, -10, homepage, 13], [546614, -9, hom...",F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass,-176.0,NaN,268,1034,1034
4,AAA,2013J,38053,"[[1752, 19, 79.0, TMA, 19.0, 10.0], [1753, 64,...","[[546614, -10, homepage, 13], [546614, -9, hom...",M,Wales,A Level or Equivalent,80-90%,35-55,0,60,N,Pass,-110.0,NaN,268,2445,2445